.nav-container {
    font-size: 1.8rem;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(200, 200, 200, 0.8);
    margin-bottom: 50px;
}

h1 {
    font-weight: 700;
    margin-left: 20px;
}

span {
    font-weight: 300;
}

.nav-flex-item {
    display: flex;
    font-weight: 600;
    /* height: 70px; */
}

.nav-flex-item p {
    margin-right: 40px;
    margin-top: 25px;
}

#join-button {
    background: #007bed;
    color: white;
    height: 70px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#join-button p {
    margin-top: 0;
    margin-right: 10px;
}

#join-button:hover {
    filter: brightness(120%);
    cursor: pointer;
}

.nav-flex-item p:hover {
    opacity: 50%;
    cursor: pointer;
}

.register-container, .login-container {
    flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: fit-content;
	width: 15em;
	background: white;
	border-radius: 10px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	padding: 1em;
	/* for IE */
	box-shadow: 0 0 0 1000px rgba(0,0,0,.6);
	/* for real browsers */
	box-shadow: 0 0 0 100vmax rgba(0,0,0,.6);
	z-index: 5;
}

.register-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.8rem;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(200, 200, 200, 0.8);
}

.form-item {
    margin-bottom: 20px;
}

#volunteer-link {
    color: #007bed;
    font-size: 1.6rem;
}

.button {
    background:#007bed;
	color: white;
	outline: none;
	border: none;
	border-radius: 5px;
	font-size: 0.8em;
    text-decoration: none;
	padding: 10px;
}

.button:hover {
    cursor: pointer;
    filter: brightness(120%);
}